@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap');

/*-- scss:defaults --*/

$link-color: #EE6331;
$font-family-sans-serif: "Open Sans", sans-serif;
$font-family-monospace: 'Fira Mono', monospace;

$presentation-title-slide-text-align: left;

/*-- scss:rules --*/

h1 {
  color: #2D5A87 !important;
}

h2 {
  color: #447099 !important;
}

h3 {
  color: #444444 !important;
}
